@import url(reset.css);
.top-img img{
  width: 100%;
  height: 30rem;
  object-fit: cover;
  background-position: top;
}
#collection{
  width: 100%;
  padding: 80px 0;
  text-align: center;
}
#collection .collection-title h1{
  margin: 5rem;
  line-height: 4.5rem;
}

#collection .collection-title p.notice{
  font-size: 1.8rem;
  line-height: 3.2rem;
}
#collection .collection-title .notice strong {
  color: var(--color-primary);
  font-weight: 800;
}

/* 검색창 */
#collection .search{
  padding: 5px;
  max-width: 140rem;
  margin: 25px auto;
}
#collection .search .search-input{
  border: 1px solid black;
  background-color: transparent;
  width: 480px;
  height: 40px;
  /* line-height: 15px; */
}
#collection .search .search-input::placeholder {
  color: var(--color-gray-900);
  padding-left: 10px;
}


/* 작품 */
#archive{
  width: 100%;
}
#archive .image-container{
  max-width: 130rem;
  margin: 0 auto;
}
#archive .image-container .art-items{
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(5, 1fr);
  row-gap: 40px;
  column-gap: 20px;
  padding: 0 3rem;
}

#archive .image-container .art-items .art-sec{
  width: 100%;
  transform: translateY(50px);
}
#archive .image-container .art-items img{
  width: 100%;
  height: 35rem;
  min-height: 20rem;
  max-height: 40rem;
  object-fit: cover;
}

/* 작품명 */
#archive .image-container .art-items .art-info h6{
  text-transform: uppercase;
  margin-bottom: 1rem;
  font-size: 2rem;
  min-height: 5rem;
  font-weight: bold;
  letter-spacing: 0px;
}
#archive .image-container .art-items .art-info p.since{
  padding-top: 8px;
  margin-top: 0px auto;
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--color-gray-600);
}
#archive .image-container .art-items .art-sec .see-more{
  border: 1px solid #000;
  width: 100px;
  height: 35px;
  text-align: center;
  font-size: 1.8rem;
} 
#archive .image-container .art-items .art-sec .see-more:hover{
  background-color: #333;
  color: #fff;
  border: 1px solid #000;
}

/* 페이지 */
#more{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem 0;
}
#more .page-num{
  width: 80rem;
  height: 4rem;
  padding: 70px;
  text-align: center;
  align-items: center;
  font-weight: 500;
  color: var(--color-gray-600);
}

#more .page-num a{
  margin: 30px;
}
#more .page-num a:hover{
  color: var(--color-primary);
  font-weight: bold;
}



/* PC ~1400px */
@media (max-width: 1300px) {
  #archive .image-container .art-items {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (max-width: 1024px) {
  #archive .image-container .art-items {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px){
  #archive .image-container .art-items {
    grid-template-columns: repeat(2, 1fr);
  }
  #collection .search .search-input {
    width: 100%;
  }
  #collection{
    padding: 3rem 80px;
  }
  #archive .art-info h6{
    font-size: 2.6rem;
  }
  #archive .art-info p.since{
    font-size: 1.8rem;
  }
  #more .page-num{
    min-width: auto;
    width: calc(100% - 6rem);
    margin: 0 3rem;
    padding: 20px 10px;
  }
  #more .page-num a{
    margin: 15px;
  }
}


@media (max-width: 420px){
  #archive .image-container .art-items {
    grid-template-columns: repeat(1, 1fr);
  }
  #archive .art-info h6{
    font-size: 1.8rem;
  }
  #archive .art-info p.since{
    font-size: 2.6rem;
  }
  #archive .see-more a{
    width: 100%;
    max-width: 30px;
    height: 20px;
  }
  #more .page-num{
    width: calc(100% - 4rem);
    margin: 0 2rem;
    padding: 20px 5px;
  }
  #more .page-num a{
    margin: 10px;
  }
}
