/* 컬러 */
:root {
  /* 강조 컬러 */
  --color-primary: #008787;
  --color-secondary: #008484;

   /*검정색 계열 */
  --color-black: #222;
  --color-white: #fff;
  --color-gray-100: #f0f0f0;
  --color-gray-300: #333;
  --color-gray-600: #666;
  --color-gray-900: #999;
}

*{ /* 추가 */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  word-break: keep-all;
}
  
html {
  font-size: 62.5%; /* 브라우저 기본 16px → 1rem = 10px */
}

body { /* 본문 Noto Sans KR */
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 1.6rem;    
  line-height: 2.5rem;   
  color: #222;
}

/* 제목 태그 S-Core Dream */
h1, h3, h4, h5, h6 {
  font-family: 'SCoreDream', sans-serif;
}

h1 {
  font-size: 4.8rem; /* 타이틀 */
  font-weight: 600;
}

h2 {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 2.4rem; /* 타이틀 내용 */
  font-weight: 400;
}

h3{
  font-size: 2.8rem; /* 섹션 제목 */
  font-weight: 600;
}

p, a {
  font-size: 1.6rem; /* 16px */
}
a{
  text-decoration: none;
  color: var(--color-black);
}
li{
  list-style-type: none;  /*목록에 점 없애기 */
}

img{
  width: 100%;
}

/* 추가 */
.container_wrap{
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}

.container_fluid{
  width: 100%;
  margin: 0 auto;
}

section{
  padding: 0 0 12rem;
}

/* 사이즈별 공통 변화 부분 */
@media (max-width: 1200px){
  section{
    padding: 0 0 10rem;
  }

}

@media (max-width: 768px){
  h1{
    font-size: 4rem;
  }

  h2{
    font-size: 2rem;
  }

  h3{
    font-size: 2.4rem;
  }
}

@media (max-width: 540px){
  section{
    padding: 0 0 8rem;
  }

  h1{
    font-size: 3.2rem;
  }

  h2{
    font-size: 1.6rem;
  }

  h3{
    font-size: 2rem;
  }
  
}
