@import url(style.css);


/* bg_sec */
#deoksu .bg_img{
  width: 100%;
  height: 80rem;
  object-fit: cover;
  position: relative;
}

#deoksu .bg_img img{
  width: 100%;
  height: 80rem;
}

#deoksu .bg_sec .bg_text{
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: #fff;
  text-shadow: 0 0 2rem rgba(0,0,0,0.8);
  font-weight: 500;
}

#deoksu .bg_sec .bg_text h2{
  line-height: 6rem;
  text-align: center;
}

#deoksu .bg_sec .bg_text p{
  font-size: 2rem;
}

#deoksu .bg_sec .time_sec{
  width: 100%;
  height: 10%;
  display: flex;
  bottom: 12%;
  position: absolute;
  align-items: center;
  justify-content: center;
  column-gap: 4rem;
  background: rgba(185, 185, 185, 0.6);
}

#deoksu .bg_sec .time_sec p{
  font-size: 2rem;
  color: #333;
  font-weight: 600;
}

#deoksu .bg_sec .time_sec p.bold{
  color: #222;
}

/* navbar */
#deoksu .navbar .navi{
  width: 100%;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10rem;
}

#deoksu .navbar .navi li a{
  font-size: 2.2rem;
  font-weight: 600;
  color: #333;
  transition: 0.3s;
}

#deoksu .navbar .navi li a:hover{
  color: #008787;
}

/* common */
#deoksu .btn{
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin: 15rem auto 10rem;
}

#deoksu .btn a:nth-child(1){
  font-size: 2.8rem;
  font-weight: 600;
  color: #333;
}

#deoksu .btn a:nth-child(2){
  font-size: 1.8rem;
  font-weight: 600;
  color: #333;
}

#deoksu .btn .watch_sec, .map_sec .btn a:nth-child(2){
  font-size: 2rem;
  font-weight: 600;
  color: #333;
  opacity: 0;
}

/* exhibition_sec */
#deoksu .exhibition_sec .swiper-wrapper{
  width: 100%;
  margin: auto;
}

#deoksu .exhibition_sec .swiper{
  margin-top: 5rem;
  width: 80%;
  height: 40%;
  /* border: 1px solid #000; */
}

#deoksu .exhibition_sec .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

#deoksu .exhibition_sec .swiper-slide img {
  display: block;
  object-fit: cover;
  width: 65%;
}

/* education_sec */
#deoksu .education_sec{
  margin-top: 5rem;
}

#deoksu .education_sec .no_swiper{
  width: 80%;
  margin: auto;
  line-height: 50rem;
}

#deoksu .education_sec .no_swiper p{
  font-size: 2.2rem;
}
/* #deoksu .education_sec .swiper{
  margin-top: 5rem;
  width: 80%;
  height: 40%;
}

#deoksu .education_sec .swiper-wrapper{
  width: 100%;
  margin: auto;
}

#deoksu .education_sec .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

#deoksu .education_sec .swiper-slide img {
  display: block;
  object-fit: cover;
  width: 65%;
} */

/* watch_sec */
#deoksu .watch_wrap{
  width: 80%;
  overflow-x: auto;
  margin: auto;
}

#deoksu .watch_table{
  margin: auto;
  border-collapse: collapse;
  width: 100%;
}

#deoksu th, td {
  border: 1px solid #999;
  padding: 10px;
  vertical-align: top;
  text-align: left;
  font-family: sans-serif;
  font-size: 1.4rem;
  color: #555;
}

#deoksu th {
  background-color: #222;
  color: #fff;
  text-align: center;
}

#deoksu .center{
  text-align: center;
  vertical-align: middle;
  font-weight: 500;
  font-size: 1.5rem;
  color: #333;
}

#deoksu .left{
  text-align: left;
}

/* floor_sec */
#deoksu .floor_wrap{
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

#deoksu .floor_wrap .floor_header{
  width: 10%;
  margin: auto;
}


#deoksu .floor_header .floor_menu .floor li{
  width: 100%;
  height: 10rem;
  border-bottom:1px solid #f0f0f0;
  color:#333;
  font-size:1.6rem;
  z-index:100;  
  font-size: 2.4rem;
  text-align: center;
  line-height: 10rem;
}

#deoksu .floor_header .floor_menu .floor li.active{
  background: #333;
  color: #fff;
}

#deoksu .floor_img{
  width: 80%;
  margin: auto;
}

#deoksu .floor_img div{
  display: none;
}

#deoksu .floor_img .img_box{
  flex: 1;
  display: flex;
  justify-content: space-between;
}

#deoksu .floor_img img{
  width: 70%;
  object-fit: cover;
}

#deoksu .floor_img img:nth-child(2){
  width: 30%;
  object-fit: cover;
}

#deoksu .floor_img div.active{
  display: block;
}

/* map_sec */
#deoksu .map_wrap{
  width: 80%;
  height: 100%;
  margin: 0 auto;
}

#deoksu .map_wrap iframe{
  width: 100%;
  height: 60rem;
  object-fit: cover;
  outline: none;
}

/* Media Query */

@media (max-width: 1400px){
  /* bg_sec */
  #deoksu .bg_sec .bg_text h2{
    font-size: 3.6rem;
  }

  /* exhibition_sec */
  #deoksu .exhibition_sec .swiper-wrapper{
  width: 100%;
  margin: auto;
  }

  /* education_sec */
  #deoksu .education_sec .swiper-wrapper{
  width: 100%;
  margin: auto;
  }


  #deoksu .floor_wrap{
    flex-direction: column;
  }

  #deoksu .floor_wrap .floor_header{
    width: 80%;
  }

  #deoksu .floor_wrap .floor_header .floor_menu .floor{
    display: flex;
    justify-content: center;
  }

  #deoksu .floor_header .floor_menu .floor li{
    height: 6rem;
    line-height: 6rem;
    font-size: 2rem;
  }

  #deoksu .floor_img{
    width: 80%;
    max-width: 80%;
    flex-direction: column;
  }

  #deoksu .floor_img img{
    width: 60%;
    object-fit: cover;
  }

  #deoksu .floor_img img:nth-child(2){
    width: 25%;
    object-fit: cover;
  }

  #deoksu .watch_wrap {
    overflow-x: auto;
  }

  #deoksu .watch_table {
    width: max-content;
    white-space: nowrap;
  }
}

@media (max-width: 1024px){
  /* exhibition_sec */
  #deoksu .exhibition_sec .swiper-wrapper img{
    width: 80%;
    margin: auto;
  }

  /* education_sec */
  #deoksu .education_sec .swiper-wrapper img{
    width: 80%;
    margin: auto;
  }
}

@media (max-width: 768px){
  /* bg_sec */
  #deoksu .bg_sec .bg_text h2{
    font-size: 3rem;
  }

  /* time_sec */
  #deoksu .bg_sec .time_sec p{
    font-size: 1.8rem;
  }

  #deoksu .navbar .navi{
    gap: 6rem;
  }

  /* navbar */
  #deoksu .navbar .navi li a{
    font-size: 2rem;
  }

  /* btn */
  #deoksu .btn a:nth-child(1){
    font-size: 2.2rem;
    font-weight: 600;
    color: #333;
  }

  #deoksu .btn a:nth-child(2){
    font-size: 1.6rem;
    font-weight: 600;
    color: #333;
  }

  /* exhibition_sec */
  #deoksu .exhibition_sec .swiper-wrapper img{
    width: 90%;
    margin: auto;
  }

  /* education_sec */
  #deoksu .education_sec .swiper-wrapper img{
    width: 90%;
    margin: auto;
  }

  /* floor_sec */
  #deoksu .floor_img{
    width: 80%;
    max-width: 80%;
  }

  #deoksu .floor_img .img_box{
    flex-direction: column;
  }

  #deoksu .floor_img img{
    width: 100%;
    object-fit: cover;
  }

  #deoksu .floor_img img:nth-child(2){
    width: 100%;
    object-fit: cover;
  }
}

@media (max-width: 540px){
  /* bg_sec */
  #deoksu .bg_sec .bg_text h2{
    font-size: 2.6rem;
  }

  /* time_sec */
  #deoksu .bg_sec .time_sec p{
    font-size: 1.4rem;
  }

  /* navbar */
  #deoksu .navbar .navi{
    gap: 4rem;
  }
  #deoksu .navbar .navi li a{
    font-size: 1.6rem;
  }

  /* exhibition_sec */
  #deoksu .exhibition_sec .swiper-wrapper img{
    width: 80%;
    margin: auto;
  }

  /* education_sec */
  /* #deoksu .education_sec .swiper-wrapper img{
    width: 80%;
    margin: auto;
  } */

  #deoksu .education_sec .no_swiper p{
    font-size: 1.6rem;
  }
}