@import url(reset.css);
#edu_intro{
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
  text-align: center;
  align-items: center;
  background: url(../images/bg/bg_07.png) center/cover;
  color: var(--color-white);
}

#edu_intro .container{
  width: 100%;
  height: 100%;
  margin-top: 120px;
  padding: 200px 0;
}
#edu_intro .caption h1{
  text-align: center;
  margin: 30px;
  padding: 55px;
  font-size: 4.8rem;
  line-height: 5.5rem;
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.6);
  animation: title-ani 1.2s backwards;
}
#edu_intro .container .caption p{
  margin: 50px;
  padding: 20px 0;
  font-size: 2rem;
  line-height: 3.5rem;
  color: var(--color-gray-100);
  animation: cap-ani 2s forwards;
  animation-delay: 0.8s;
  animation-fill-mode: both;
  opacity: 0;
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 1);

}
#edu_intro .container .btn{
  width: 150px;
  height: 40px;
  line-height: 15px;
  border: 1px solid #fff;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 1.6rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%); animation: cap-ani 0.3s forwards;
  animation-delay: 2s;
  animation-fill-mode: both;
  opacity: 0;
}
#edu_intro .container .btn:hover{
  background-color: #fff;
  color: #333;
  border: 1px solid #000;
  transition: 0.3s ease-in;
}



/* 애니메이션 */
@keyframes title-ani{
  0%{
    transform: translateY(-50px);
    opacity: 0;
  }
  100%{
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes cap-ani {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


/* PC ~1400px */
@media (max-width: 1400px) {
}
@media (max-width: 1200px) {
}

@media (max-width: 768px) {
  #edu_intro .container {
    margin-top: 60px;
    padding: 100px 0;
  }
  #edu_intro .caption h2 {
    margin: 20px;
    padding: 25px;
    font-size: 4rem;
  }
  #edu_intro .container .caption p {
    font-size: 1.8rem;
    line-height: 3.5rem;
  }
}

@media (max-width: 380px) {
  #edu_intro .container {
    margin-top: 40px;
    padding: 50px 0;
  }
  #edu_intro .caption h2 {
    font-size: 3.2rem;
  }
  #edu_intro .caption p {
    font-size: 1.4rem;
    line-height: 3.5rem;
  }
}
