@import url(style.css);

html{scroll-behavior: smooth;}

body{margin:auto;}

#ev_all{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;}

.ev_items{
  padding: 2rem;
  max-width: 140rem;
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;}

.ev_et{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;}

.hd_image{
  width: 100%;
  height: 30rem;}

.hd_image>img{
  width: 100%;
  height: 30rem;
  object-fit: cover;
  filter: brightness(75%);
  background-position: top;}

.eh_title{text-align: center;}

.eh_title img{width: 1rem; height: 2rem;}

.eh_title h1{
  font-family: 'S-CoreDream';
  font-weight: bold;
  margin-bottom: 3rem;}

.eh_title p{margin: 3rem 0 5rem 0;}

.eh_btns{
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 70rem;
  height: 3rem;
  margin-bottom: 10rem;
  text-decoration: none;
  gap: 1rem;}

.ev_btns button{min-width: 30rem; height: 5rem; width: 100%;}

.eh_tab_btn{
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.4rem;
  width: 16rem;
  height: 3.5rem;
  border: 1px solid #004747;
  border-radius: 1rem;}
.eh_tab_btn img{width: 1.5rem; height: 1.5rem; margin-right: 0.2rem;}
.eh_tab_btn.select{background-color: #004747; color: #fff;}
.eh_tab_btn.select img{filter: brightness(0) saturate(100%) invert(100%) sepia(98%) saturate(0%) hue-rotate(326deg) brightness(103%) contrast(103%);}

.eh_tab_btn:hover{
  background-color: #004747; color: #fff;}
.eh_tab_btn:hover img{filter: brightness(0) saturate(100%) invert(100%) sepia(98%) saturate(0%) hue-rotate(326deg) brightness(103%) contrast(103%);}

.ev_img{
  width: 28rem;
  height: 28rem;
  transition: 0.5s;}
.ev_img:hover{opacity: 0.5;}

.ev_tit{
  width: 100%;
  word-break: keep-all;
  display: flex;
  flex-direction: column;
  text-align: center;}

.ev_tit h4{
  color: #004747;
  font-family: 'S-CoreDream';
  word-break: keep-all;
  font-size: 1.8rem;}

.ev_tit h3{
  font-family: 'S-CoreDream';
  font-weight: bold;
  font-size: 2.4rem;
  margin: 2rem 0;
  word-break: keep-all;}

.ev_tit p{
  font-size: 2rem;
  margin: 0;}

.ev_tit .ev_btns{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;}

.ev_tit .ev_btns button{
  width: 30rem;
  height: 5rem;
  border: 1px solid #004747;
  border-radius: 1rem;
  color: #004747;
  background-color: #fff;
  cursor: pointer;
  font-size: 2rem;
  font-weight: 600;
  margin: 2rem 0;}

.ev_tit .ev_btns button:hover{
  background-color: #004747;
  color: #fff;}

#eh_ms-img{position: relative;}
#eh_ms:before{
  position: absolute;
  content: '멤버쉽';
  top: 2rem;
  left: 2rem;
  width: 10rem;
  height: 3rem;
  background-color: #FFCF31;
  color: white;
  font-size: 1.5rem;
  text-align: center;
  line-height: 3rem;
  z-index: 2;}

.ev_items:after{
  position: absolute;
  content: '';
  bottom: 0;
  left: 2rem;
  width: 0%;
  height: 0.5rem;
  background-color: #004747;
  z-index: 2;
  transition: 0.3s}
.ev_items:hover:after{
  position: absolute;
  content: '';
  bottom: 0;
  left: 2rem;
  width: 100%;
  height: 0.5rem;
  background-color: #004747;
  z-index: 2;}

.ex_downmenu{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 40rem;
  height: 2rem;
  gap: 3rem;
  line-height: 1.5rem;
  margin-bottom: 10rem;}

.ex_downmenu img{
  width: 1rem;
  height: 1rem;}

.ex_number.select{
  font-weight: bold;
  color: #004747;}


/* =========================== PC: 1200px 이상 ============================ */
@media screen and (min-width: 1200px) {
.ex_main_m{display: none;}
}

/* ============================ 태블릿 & 모바일: 1199px ============================ */
@media screen and (max-width: 1199px) {

.eh_btns .eh_tab_btn{display: none;}

.ex_main_t .eh_title{display: none;}

#ev_all .ev_items{width: 100%;}

.ehe_header .eh_title p{margin-bottom: 0;}

#ev_all .ev_items .ev_tit{
  display: flex;
  justify-content: center;
  align-items: center;}

#ev_all .ev_et{
  width: 100%;
  margin: 0;}

#ev_all .ev_tit{
  width: 100%;
  margin-left: 3rem;}

#ev_all .ev_tit h3{
  width: 100%;
  line-height: 120%;
  word-break: keep-all;}

#ev_all .ev_btns{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;}

#ev_all .ev_btns button{
  width: 100%;
  max-width: 30rem;
  min-width: 15rem;
  height: 4rem;
  font-size: 2.0rem;
  color: #004747;}
#ev_all .ev_btns button:hover{color:#fff;}

#ev_all .ev_img img{
  margin-right: 1rem;
  width: 28rem;
  height: 28rem;
  object-fit: cover;}

.ev_item:hover{display: none;}
.ev_items:after{display: none;}
.ev_items:after:hover{display: none;}
.ex_downmenu img{width: 1rem; height: 1rem;}
.ex_downmenu{width: 100%;}
}

/* ============================ 모바일 540px ============================ */

@media screen and (max-width: 540px) {

.ehe_header{display: none;}

.ex_main_m{
  display: block;
  position: relative;
  width: 100%;
  height: 60rem;
  background: url(../images/exh/evt/main.jpg) no-repeat bottom/cover;}

.ex_main_t  .eh_title{
  display: block;
  position: absolute;
  text-align: center;
  width: 100%;
  height: 60rem;
  left: 0;
  top: 30rem;
  color: #fff;}

.eh_title img{
  width: 1rem;
  height: 1rem;
  transition: 0.3s;
  animation: ArrowAction 2s infinite;}

@keyframes ArrowAction{
  from{transform:translateY(0)}
  20%{transform: translateY(1rem)}
  100% {transform: translateY(3rem)}}

#ev_all{
  text-align: center;}

#ev_all .ev_items{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;}

#ev_all .ev_img{
  display: flex;
  justify-content: center;
  align-items: center;}

#ev_all .ev_img img{
  width: 30rem;
  height: 30rem;
  text-align: center;}

#ev_all .ev_et{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;}

#ev_all .ev_tit{
  margin: 1rem;
  display: flex;
  justify-content: center; 
  align-items: center;
  text-align: center;}

#ev_all .ev_tit h3{
  min-height: 10rem;
  word-break: keep-all;}

#ev_all .ev_tit p{
  font-size: 1.4rem;}

#ev_all .ev_btns{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;}
#ev_all .ev_btns button{
  width: 50%;
  height: 4rem;
  font-size: 1.6rem;
  color: #004747;}

#ev_all .ex_downmenu{
  width: 1rem; height: 1rem;}

.ev_item:hover{display: none;}
.ev_items:after{display: none;}
.ev_items:after:hover{display: none;}
}