@import url(style.css);


/* bg_sec */

#gwacheon .bg_sec{
  position: relative;
}

#gwacheon .bg_img{
  width: 100%;
  height: 80rem;
  object-fit: cover;
}

#gwacheon .bg_img img{
  width: 100%;
  height: 80rem;
}

#gwacheon .bg_sec .bg_text{
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: #fff;
}

#gwacheon .bg_sec .bg_text h2{
  line-height: 6rem;
  text-align: center;
}

#gwacheon .bg_sec .time_sec{
  width: 100%;
  height: 10%;
  display: flex;
  bottom: 0;
  position: absolute;
  align-items: center;
  justify-content: center;
  column-gap: 4rem;
  background: rgba(185, 185, 185, 0.6);
}

#gwacheon .bg_sec .time_sec p{
  font-size: 2rem;
  color: #333;
  font-weight: 600;
}

#gwacheon .bg_sec .time_sec p.bold{
  color: #222;
}

/* navbar */
#gwacheon .navbar .navi{
  width: 100%;
  max-width: 130rem;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10rem;
  margin: 5rem auto 0;
}

#gwacheon .navbar .navi li a{
  font-size: 2.2rem;
  font-weight: 600;
  color: #333;
  transition: 0.3s;
}

#gwacheon .navbar .navi li a:hover{
  color: #008787;
}

/* common */
#gwacheon .btn{
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin: 15rem auto 10rem;
}

#gwacheon .btn a:nth-child(1){
  font-size: 2.8rem;
  font-weight: 600;
  color: #333;
}

#gwacheon .btn a:nth-child(2){
  font-size: 1.6rem;
  font-weight: 500;
  color: #666;
}

#gwacheon .btn .watch_sec, .map_sec .btn a:nth-child(2){
  font-size: 2rem;
  font-weight: 600;
  color: #333;
  opacity: 0;
}

/* exhibition_sec */
#gwacheon .exhibition_sec .swiper-wrapper{
  width: 100%;
  margin: auto;
}

#gwacheon .exhibition_sec .swiper{
  margin-top: 5rem;
  width: 100%;
  max-width: 130rem;
  height: 40%;
}

#gwacheon .exhibition_sec .swiper-slide {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#gwacheon .exhibition_sec .swiper-slide img {
  width: 65%;
  display: block;
  object-fit: cover;
  margin: auto;
}

/* education_sec */
#gwacheon .education_sec{
  margin-top: 5rem;
}
#gwacheon .education_sec .swiper{
  margin-top: 5rem;
  width: 100%;
  max-width: 130rem;
}

#gwacheon .education_sec .swiper-wrapper{
  width: 100%;
  margin: auto;
}

#gwacheon .education_sec .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

#gwacheon .education_sec .swiper-slide img {
  display: block;
  object-fit: cover;
  width: 65%;
}

/* watch_sec */
#gwacheon .watch_wrap{
  width: 100%;
  max-width: 130rem;
  overflow-x: auto;
  margin: auto;
}

#gwacheon .watch_table{
  margin: auto;
  border-collapse: collapse;
  width: 100%;
}

#gwacheon th, td {
  border: 1px solid #999;
  padding: 10px;
  vertical-align: top;
  text-align: left;
  font-family: sans-serif;
  font-size: 1.4rem;
  color: #555;
}

#gwacheon th {
  background-color: #222;
  color: #fff;
  text-align: center;
}

#gwacheon .center{
  text-align: center;
  vertical-align: middle;
  font-weight: 500;
  font-size: 1.5rem;
  color: #333;
}

#gwacheon .left{
  text-align: left;
}

/* floor_sec */
#gwacheon .floor_wrap{
  width: 100%;
  max-width: 130rem;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

#gwacheon .floor_wrap .floor_header{
  width: 100%;
  max-width: 15%;
}


#gwacheon .floor_header .floor li{
  width: 100%;
  border-bottom:1px solid #f0f0f0;
  color:#333;
  font-size:1.6rem;
  z-index:100;  
  font-size: 2.4rem;
  text-align: center;
  line-height: 10rem;
}

#gwacheon .floor_header .floor li.active{
  background: #333;
  color: #fff;
}

#gwacheon .floor_img{
  width: 100%;
  margin: auto;
}

#gwacheon .floor_img div{
  display: none;
}

#gwacheon .floor_img .img_box{
  width: 100%;
  object-fit: cover;
  display: flex;
}

#gwacheon .floor_img .img_box img:nth-child(1){
  display: block;
  width: 40%;
  margin: auto;
}

#gwacheon .floor_img .img_box img:nth-of-type(2){
  display: block;
  width: 30%;
}

#gwacheon .floor_img .img_box img:nth-of-type(3){
  display: none;
  width: 45%;
}

#gwacheon .floor_img div.active{
  display: block;
}

/* map_sec */
#gwacheon .map_wrap{
  width: 100%;
  max-width: 130rem;
  height: 100%;
  margin: 0 auto;
}

#gwacheon .map_wrap iframe{
  width: 100%;
  height: 60rem;
  object-fit: cover;
  outline: none;
}

/* Media Query */
@media (max-width: 1400px){
  /* bg_sec */
  #gwacheon .bg_sec .bg_text h2{
    font-size: 3.6rem;
  }

  /* exhibition_sec */
  #gwacheon .exhibition_sec .swiper-wrapper{
  width: 100%;
  margin: auto;
  }

  /* education_sec */
  #gwacheon .education_sec .swiper-wrapper{
  width: 100%;
  margin: auto;
  }

  #gwacheon .watch_wrap {
    overflow-x: auto;
  }

  #gwacheon .watch_table {
    width: max-content;
    white-space: nowrap;
  }
}


@media (max-width: 1200px){
  #gwacheon .floor_wrap{
    flex-direction: column;
    width: 80%;
  }

  #gwacheon .floor_header{
    min-width: 100%;
  }

  #gwacheon .floor_header .floor{
    display: flex;
  }

  #gwacheon .floor_header .floor li{
    height: 5rem;
    line-height: 5rem;
    font-size: 2rem;
  }
}


@media (max-width: 670px){
  #gwacheon .bg_sec .bg_text h2{
    font-size: 3.2rem;
  }

  #gwacheon .bg_sec .time_sec p{
    font-size: 1.6rem;
  }

  #gwacheon .navbar .navi{
    gap: 4rem;
  }

  #gwacheon .navbar .navi li a{
    font-size: 1.8rem;
  }
}

@media (max-width: 768px){
  #gwacheon .floor_img .img_box{
    flex-direction: column;
  }

  #gwacheon .floor_header .floor li{
    font-size: 1.6rem;
  }

  #gwacheon .floor_img .img_box img:nth-child(1){
    display: block;
    width: 100%;
    margin: auto;
  }

  #gwacheon .floor_img .img_box img:nth-child(2){
    display: none;
    width: 100%;
    margin: auto;
  }

  #gwacheon .floor_img .img_box img:nth-child(3){
    display: block;
    width: 100%;
    margin: auto;
  }
}

@media (max-width:540px){
  #gwacheon .btn a:nth-child(1){
    font-size: 2.2rem;
  }
}