/* body{
  background: #e8e8e8;
} */

/* .desk_header, */
.tab_header{
  display: none;
}

.header_wrap{
  width: 100%;
  max-width: 140rem;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* 데스크톱 메뉴 */
.desk_header{
  position: fixed;
  top: 0;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #f0f0f0;
  background-color: #fff;
  z-index: 99;
}

ul.gnb{
  display: flex;
}
.gnb>.main{position: relative;}
.gnb>.main>a{
  position: relative;
  height: 6.5rem;
  padding: 0 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #222;
  font-size: 2rem;
	font-weight: 500;
  overflow: hidden;
}

.gnb>.main:hover>a{color: #008787;}
.gnb>.main:hover>a:after{
  top: calc(100% - 6px);
}

/* Sub Menu */
.sub{
  position: absolute;
  height: 4rem;
  z-index: 98;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 2.4rem;
  text-align: center;
  margin-left: 3rem;
}
.sub li{
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 2px solid #fff;
}
.sub li a {
  width: 8rem;
	color: #222;
	font-size: 1.6rem;
}
.sub li:hover a{
  color: #008787;
  border-top: 2px solid #008787;
}

.bg_box{ 
  position: absolute;
  top: 100%;
  left: 0;
	width:100vw;
	height:4.7rem; 
	background-color:#fff;
}

.desk_header_right{
  display: flex;
  font-size: 1.6rem;
}
.desk_header_right a{
  width: 2.5rem;
  height: 2.5rem;
  margin: 0.3rem;
}
.desk_header_right a:nth-of-type(2){
  padding-left: 1rem;
  border-left: 1px solid #f0f0f0;
}
.desk_header_right a:nth-of-type(3){
  background-color: #222;
  color: #fff;
  padding: 0.5rem 2rem;
  font-size: 1.6rem;
  border: none;
  border-radius: 0.5rem;
}
/* Desktop Menu end */

/* Tab / Mobile Header start */
.tab_header{
  width: 100%;
  height: 8rem;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #f0f0f0;
  position: fixed;
  background-color: #fff;
  z-index: 99;
  margin: auto;
}

.trigger img{
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
}

.menu_all{
  position: absolute;
  top: 8rem; 
  right: -150%;
  width: 50%;
  height: 80rem;
  background-color: #fff;
  transition: right 0.1s;
  z-index: 98;
  border-top: 1px solid #f0f0f0;
}

/* 탭메뉴 로그인 */
.tab_header_left a img{
  height: 3rem;
  object-fit: contain;
}
.tab_header_logo a img {
  height: 4rem;
  object-fit: contain;
}

.mright{
  font-size: 2rem;
  margin: 0 auto;
  padding: 0 3rem;
  background: #fff;
  z-index: 99;

}

.mright .tmain{
  margin: auto;
}
.mright .tsub{margin-bottom: 1rem;}

.mright .tsub li a:hover{
  color: #008787;
}
.mlogo img{ 
	width:100%;
}

.mright .mlogo{margin-top: 5rem;}

.mright .tgnb{
  margin-top: 3rem;
}

.mright>ul>li>a{
  width: 100%;
	color:#333;
	font-weight:400;
	font-size:1.8rem;
  margin: auto;
}

.tgnb .tmain>a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.6rem;
  color: #222;
  padding: 1.5rem 0;
}

.tgnb>.tmain>a:after{ 
  content: "\f107";
  font-family: fontawesome;
  float: right;
}
.tgnb>.tmain>a.uparrow:after {
  content: "\f106";
  font-family: fontawesome;
  float: right;
}

.tsub{display: none;}
.tsub>li{
  width: 100%;
  margin: auto;
  padding: 1.3rem 0;
}
.tsub>li:last-child {border-bottom: none;}
.tsub>li>a{  
	display:block;
	color:#666;
  font-size: 1.6rem;
  padding: 0 1rem;
}

/* select_menu */
.menu_user {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem;
  color: #333;
  margin: 3rem auto 0;
}

.menu_user a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
}
.menu_user span {
  color: #888;
}

.menu_user a{
  color: #333;
}

.menu_icon{
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
}

.menu_user a:hover img{
  color: #008787;
}

.select_menu .select_box{
  outline: none;
  border: none;
  color: #333;
}

.select_menu .select_box option{
  font-size: 1.4rem;
  text-align: center;
  border: 1px solid #000;
}

/* Media Query */

@media (max-width:1400px){
  .header_wrap{
    padding: 0 2rem;
  }
}

@media (min-width: 1000px){
  .desk_header {
    display: block;
  }
  .tab_header {
    display: none;
  }
}

@media (max-width: 768px) {
  .desk_header { display: none;}
  .tab_header { display: flex;}
  .menu_all {
    width: 50%;
  }

}
@media (max-width: 540px){

  .tab_header_left img{
    width: 2.4rem;
  }
  .tab_header_logo img{
    width: 14rem;
  }

  .menu_all {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: #fff;
    z-index: 99;
    box-shadow: none;
  }
}

@media (max-width: 320px){
  .tab_header_logo a img{
    width: 12rem;
  }
}