/* intro title */
.intro.title{
  margin-top: 6rem;
  width: 100%;
  height: 30rem;
  background-image: url(../images/bg/bg_02.png);
  background-size: cover;
  margin-bottom: 12rem;
  color: #fff;
}
.intro .title_wrap{
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}
.intro.title h1{
  letter-spacing: 0.5rem;
  transform: translateY(50%);
}
/* intro1______________intro */
#intro1 .title_bg{
  width: 100%;
  height: 10rem;
  background: linear-gradient(90deg,#f0f0f0, #fff);
  display: flex;
  align-items: center;
  margin-bottom: 5rem;
}
#intro1 .intro_title{
  max-width: 140rem;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-self: center;
}
#intro1 .intro1_br{
  display: none;
}
#intro1 .intro_desc{
  width: 100%;
  max-width: 140rem;
  margin: auto;
  font-size: 1.6rem;
}
#intro1 .intro_desc span{
  display: inline-block;
  font-size: 2rem;
  margin-bottom: 2rem;
}
#intro1 .mi_items{
  font-size: 1.6rem;
  max-width: 140rem;
  width: 100%;
  margin: auto;
}
#intro1 .mi_grid,
#intro1 .mi_space{
  display: flex;
}
#intro1 .mi_grid{
  margin-bottom: 12rem;
}
#intro1 .desc_item{
  margin-bottom: 5rem;
}
#intro1 .mi_title{
  font-size: 2rem;
  font-weight: 500;
  width: 30%;
}
#intro1 .desc_img img{
  max-width: 30rem;
}

/* intro2______________history */
#intro2 .history_sec{
  width: 100%;
  max-width: 140rem;
  margin: auto;
}
#intro2 .hist{
  width: 100%;
  max-width: 140rem;
  margin: auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
}
#intro2 .hist .hist_years{
  font-size: 16rem;
  color: #fcfcfc;
  text-shadow: 0 5px 8px #ccc;
  font-weight: 900;
  z-index: -1;
  transform: translateY(5rem);
}
#intro2 .hist_items{
  width: 70%;
}

#intro2 .hist_item{
  display: flex;  
  width: 100%;
  align-items: center;
  margin-bottom: 5rem;
}
#intro2 .hist_item .hist_year{
  width: 11rem;
  height: 10rem;
  color: #fff;
  text-align: center;
  line-height: 10rem;
  border-radius: 10rem;
  background-color: var(--color-primary);
  font-size: 2.4rem;
  font-weight: 500;
  margin-right: 2rem;
}
#intro2 .hist_item .hist_desc{
  width: 100%;
  border-radius: 3rem;
  padding: 2rem 3rem;
  background-color: var(--color-gray-100);
}

#intro2 .hist_item .hist_title{
  font-weight: 500;
  font-size: 2rem;
}
#intro2 .hist_item .hist_content{
  width: 100%;
  word-break: keep-all;
}
  #intro2 .intro2_space{
    margin-bottom: 2rem;
  }
/* intro3______________FAQ */
#intro3 .faq_sec{
  width: 100%;
  display: flex;
  justify-content: center;
}
#intro3 .tabmenu{
  width: 80%;
	max-width: 90rem;
  text-align: center;
}
#intro3 .tab{
	display: flex;
	justify-content: center;
  margin-bottom: 5rem;
}
#intro3 .tab li{
  width: 8rem;
  margin: 0 1rem;
	font-size: 2rem;
	color: #666;
	font-weight: 600;
	cursor: pointer;
  padding-bottom: 1rem;
}
#intro3 .tab li.active{
	border-bottom: 0.2rem solid var(--color-primary);
  color: #222;
}

#intro3 .faq {
  max-width: 120rem;
  color: #222;
  text-align: left;
}
#intro3 .faq .question {
  background:#f0f0f0; 
  border:solid 0.1rem #f0f0f0; 
  cursor:pointer;
  font-size: 1.8rem;
  font-weight: 600;
  transition: 0.2s;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  margin-bottom: 1rem;
}
#intro3 .faq .question span{
  color: var(--color-primary);
  margin-right: 1rem;
}

#intro3 .faq .question.active {
  background: var(--color-primary); 
  color: #fff;
}
#intro3 .faq .question.active span{
  color: #fff;
}
#intro3 .faq .question.active i {
  transform: rotate(180deg);
}
#intro3 .faq p {
  background:#fff; 
  border:solid 1px #f0f0f0; 
  height: 0;
  padding: 2rem;
  line-height: 1.8;
  margin-bottom: 2rem;
}
#intro3 .faq .question.active + p{
  height: 100%;
}
#intro3 .faq .faq_link{
  color: blue;
}
#intro3 .panel li.active .faq{
  display: block;
}
#intro3 .panel .faq{
  display: none;
}


@media (max-width:1400px){

  #intro1 .intro_title,
  #intro1 .intro_desc,
  #intro1 .mi_items{
    padding: 0 2rem;
  }

  #intro1 .desc_img.logo_type{
    display: flex;
    flex-direction: column;
  }
  #intro1 .desc_img.logo_type img{
    max-width: 50rem;
    width: 100%;
  }

  #intro2 .hist{
    padding: 0 2rem;
  }
  #intro2 .hist .hist_years{
    font-size: 10rem;
  }
}

@media (max-width:1200px){
  .intro.title{
    margin-bottom: 10rem;
  }
  #intro1 .title_bg{
    margin-bottom: 4rem;
  }
  #intro1 .mi_grid{
    margin-bottom: 10rem;
  }
  #intro1 .desc_item{
    margin-bottom: 4rem;
  }
  #intro2 .hist_item{
    margin-bottom: 4rem;
  }
  #intro3 .tab{
    margin-bottom: 4rem;
  }
}

@media (max-width:1024px){
  .intro.title{
    margin-top: 8rem;
    height: 20rem;
  }
  #intro1 .intro1_br{
    display: block;
  }

  #intro2 .hist{
    padding: 0 2rem;
    align-items: flex-start;
  }
  #intro2 .hist .hist_years{
    font-size: 7.2rem;
  }
  #intro2 .hist:nth-child(2n+1){
    flex-direction: row-reverse;
  }
  #intro2 .hist .hist_year{
    font-size: 2rem;
  }
  #intro2 .hist .hist_title{
    font-size: 1.8rem;
  }

  #intro3 .tab li{
    font-size: 1.6rem;
    width: 7rem;
    margin: 0 0.7rem;
    padding-bottom: 0.7rem;
  }
}

@media (max-width:768px){

  #intro1 .intro1_br{
    display: none;
  }

  #intro1 .title_bg{
    height: 8rem;
    margin-bottom: 5rem;
  }
  #intro1 .intro_title{
    display: flex;
    flex-direction: column;
  }
  #intro1 .mi_items .mi_grid,
  #intro1 .mi_items .mi_space{
    display: flex;
    flex-direction: column;
  }
  #intro1 .desc_item{
    margin-bottom: 3rem;
  }

  #intro1 .mi_items .mi_title{
    margin-bottom: 3rem;
    width: 100%;
  }
  #intro1 .mi_items .desc_img img{
    max-width: 30rem;
  }
  #intro1 .intro_desc,
  #intro1 .desc_item{
    font-size: 1.4rem;
  }
  #intro1 .intro_desc span,
  #intro1 .mi_title{
    font-size: 1.8rem;
  }

  #intro2 .hist {
    margin: 0;
  }
  #intro2 .hist .hist_years{
    display: none;
  }
  #intro2 .hist_items{
    width: 100%;
  }
  #intro2 .hist_item .hist_desc{
    padding: 2rem;
  }
  #intro2 .hist .hist_item{
    display: flex;
    flex-direction: column;
  }
  #intro2 .hist .hist_year{
    font-size: 1.8rem;
    width: 100%;
    height: 4rem;
    padding: 0 3rem ;
    line-height: 3rem;
    text-align: center;
    margin-bottom: 2rem;
    margin-right: 0;
    border-radius: 3rem;
  }
  
  #intro2 .hist .hist_title{
    font-size: 1.6rem;
  }
  #intro2 .hist .hist_content{
    font-size: 1.4rem;
  }

  #intro3 .tabmenu{
    width: 100%;
    margin: 0 2rem;
  }
  #intro3 .tab li{
    width: 6rem;
    margin: 0 0.5rem;
    padding-bottom: 0.5rem;
  }
  #intro3 .panel .faq{
    word-break: keep-all;
  }
  #intro3 .panel .faq .question{
    font-size: 1.6rem;
    padding: 1rem 3rem;
  }
  #intro3 .panel .faq p{
    font-size: 1.6rem;
    padding: 2rem 3rem;
  }
}

@media (max-width:540px){
  .intro.title{
    margin-bottom: 8rem;
  }
  #intro1 .title_bg{
    height: 6rem;
    margin-bottom: 3rem;
  }
  #intro1 .mi_grid{
    margin-bottom: 8rem;
  }
  
  #intro2 .hist .hist_item{
    margin-bottom: 3rem;
  }

  #intro3 .tab{
    margin-bottom: 3rem;
  }
  #intro3 .tab li{
    font-size: 1.4rem;
    width: 5rem;
    margin: 0 0.3rem;
    padding-bottom: 0.3rem;
  }
  #intro3 .panel .faq .question{
    font-size: 1.4rem;
  }
  #intro3 .panel .faq .question span{
    display: none;
  }
  #intro3 .panel .faq .question i{
    margin-left: 1rem;
  }
}