
#index h1, h3, h4{
  font-family: 'S-CoreDream';
}

#index h1{
  font-size: 4.8rem;
  font-weight: 800;
  letter-spacing: 0.5rem;
  line-height: 6rem;
}
#index h2{
  font-size: 3.2rem;
  font-weight: 600;
  letter-spacing: 0.5rem;
}
#index h3{
  font-size: 2.4rem;
  font-weight: 600;
  letter-spacing: 0.3rem;
}

/* visual */
#index .main_visual{
  margin-top: 6rem;
}
#index .visual_items{
  position: relative;
  width: 100%;
  height: 79.8rem;
}
#index .visuals ul li{
  display: none;
  position: absolute;
  top: 0;
  left: 0;
}
#index .visuals ul li img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  min-height: 79.8rem;
}
#index .visuals ul li:first-child{display: block;}

#index .visuals ul li .visual_desc{
  width: 100%;
  max-width: 140rem;
  color: #fff;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translateX(-50%);
  text-shadow: 0 0 1rem #000;
}
#index .visuals ul li .visual_desc h1{
  margin-bottom: 4rem;
}
#index .visuals ul li .visual_desc h2{
  margin-bottom: 3rem;
}
#index .visuals ul li .visual_desc span{
  display: inline-block;
  width: 20rem;
  height: 0.3rem;
  background-color: #fff;
  box-shadow: 0 0 3rem #000;
  transform: translateY(-0.8rem);
  margin: 0 1rem;
}
/* visual_indicator */
#index .indicator{
  position: absolute;
  width: 100%;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}
#index .indicator a{
  display: inline-block;
  width: 6rem;
  height: 0.7rem;
  background-color: rgba(255, 255, 255, 0.4);
  text-indent: -999rem;
  margin: 1.5rem;
  transition: 0.35s;
}
#index .indicator a.active{
  width: 12rem;
  background-color: #fff;
}

/* operating */
#index .operating_sec{
  padding: 10rem 0;
  position: relative;
}

#index .operating_sec .container_wrap{
  overflow: hidden;
}

#index .swiper01{
  overflow: hidden;
  padding: 1rem;
}
#index .swiper01 .swiper-button-prev::after,
#index .swiper01 .swiper-button-next::after{
  color:#ccc;
  font-size: 2.4rem;
}

#index .swiper01 .swiper-button-prev::after{
  margin-left: 20%;
}
#index .swiper01 .swiper-button-next::after{
  margin-right: 20%;
}

#index .swiper01 .swiper-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 140rem;
}
#index .swiper01 .swiper-slide{
  width: 25%;
  display: flex;
  justify-content: center;
}
#index .operate_box{
  width: 100%;
  margin: 5% 0;
  max-width: 22rem;
  min-width: 16rem;
  height: 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  transition: 0.3s;
}
#index .operate_title{
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#index .operate_title .location{
  font-size: 2rem;
  font-weight: 500;
}
#index .operating_desc{
  width: 80%;
  margin-top: 2rem;
  font-weight: 500;
}
#index .operating_desc .time,
#index .operating_desc .call{
  display: flex;
  align-items: center;
}
#index .operating_desc i{
  font-size: 2rem;
  margin-right: 1rem;
}
#index .operating_desc .time{
  margin-bottom: 1rem;
}
#index .operate_box:hover{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* display_sec */
#index .dp_title{
  width: 100%;
  max-width: 140rem;
  margin: 5rem auto 10rem;
}
#index .swiper02 {
  width: 100%;
  margin: 0 auto 12rem;
  max-width: 140rem;
  height: 100%;
  position: relative;
}

#index .swiper02 .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 5rem;
}

#index .swiper02 .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#index .swiper02 .swiper-button-next,
#index .swiper02 .swiper-button-prev{
  color: #ccc;
  position: absolute;
  top: 10%;
  font-size: 2rem;
}
#index .swiper02 .swiper-button-next::after,
#index .swiper02 .swiper-button-prev::after{
  font-size: 3rem;
}
#index .swiper02 .swiper-button-next{
  left: 97%;
}
#index .swiper02 .swiper-button-prev{
  left: 93%;
}
#index .swiper02 .swiper-pagination-progressbar{
  position: absolute;
  top: 10%;
  left: 40%;
  background-color: #ccc;
  height: 0.2rem;
  width: 50%;
  margin-bottom: 10rem;
}
#index .swiper02 .swiper-pagination-progressbar-fill{
  background-color: #222;
}


/* collection_sec */
#index .collection_sec{
  background: #222;
  color: #fff;
  padding: 15rem 0;
  overflow: hidden;
}
#index .col_title{
  text-align: center;
}

#index .collection_sec .col_container{
  width: 100%;
  height: 50rem;
  margin: 5rem auto 10rem;
  position: relative;
}
#index .collection_sec .col_slide{
  width:100%;
  height:100%;
  perspective:50rem;
  transform-style: preserve-3d;
  position: absolute;
  top: 0;
  left: 0;
}
#index .collection_sec .col_slide .slide{
  width: 80rem;
  height:100%;
  max-height:36rem;
  position:absolute;
  left:50%;
  top:50%;
  transform: translate(-50%,-50%);
  transition:0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
}

#index .collection_sec .slide:nth-of-type(1),.slide:nth-of-type(2){
  transform:translate(calc(-50%*5),-50%) translateZ(-10rem);
  display: none;
}
#index .collection_sec .slide:nth-of-type(3){
  transform:translate(calc(-50%*3),-50%) translateZ(-5rem);
  display: block;
}
#index .collection_sec .slide:nth-of-type(4){
  transform:translate(-50%,-50%) translateZ(5rem);
  display: block;
}
#index .collection_sec .slide:nth-of-type(4) .overlay{
  z-index: -1;
}
#index .collection_sec .slide:nth-of-type(4) .col_item_title{
  opacity: 1;
}
#index .collection_sec .slide:nth-of-type(5){
  transform:translate(calc(-50%*-1),-50%) translateZ(-5rem);
  display: block;

}
#index .collection_sec .slide:nth-of-type(6){
  transform:translate(calc(-50%*-3),-50%) translateZ(-10rem);
  display: none;
}

#index .collection_sec .slide img{
  height: inherit;
  object-fit: contain;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#index .collection_sec .overlay{
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: inherit;
  background-color: #222;
  opacity: 0.9;
}

#index .collection_sec .col_item_title{
  font-size: 2.4rem;
  line-height: 1.5;
  font-weight: 400;
  position: absolute;
  top: 110%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  opacity: 0;
}
#index .collection_sec .col_item_title span{
  font-size: 1.6rem;
  font-weight: 300;
}

.col_buttons a{
  position:absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 3.6rem;
  color: #fff;
  width: 5.5rem;
  height: 5.5rem;
}
#index .collection_sec .col_buttons .prev{left: 20%;}
#index .collection_sec .col_buttons .next{right: 20%;}


/* shop_sec */
#index .shop_sec{
  background-image: url(../images/main/shop/bg_shop.jpg);
  color: #fff;
  padding: 15rem 0 10rem;
}
#index .shop_title{
  text-align: center;
}
#index .shop_title a{
  display: inline-block;
  border: 0.1rem solid #fff;
  color: #fff;
  background-color: transparent;
  padding: 10px 2rem;
  margin-top: 2rem;
}
#index .shop_items{
  margin: 7rem auto 0;
  max-width: 100rem;
  position: relative;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(4, 1fr)
}
#index .shop_items .shop_item{
  width: 20rem;
  height: 20rem;
  background-color: rgba(255, 255, 255, 0.9);
  position: relative;
  margin-bottom: 5rem;
}
#index .shop_items .shop_item img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#index .shop_items .shop_item .item_title{
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  color: #222;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.6rem;
  font-weight: bold;
  opacity: 0;
  transition: 0.35s;
}
#index .shop_items .shop_item:hover .item_title{
  opacity: 1;
}

#index .shop_items .shop_item span:nth-of-type(1):after,
#index .shop_items .shop_item span:nth-of-type(1):before,
#index .shop_items .shop_item span:nth-of-type(2):after,
#index .shop_items .shop_item span:nth-of-type(2):before{
  content: '';
  position: absolute;
  background-color: #fff;
  transition: 0.35s;
  width: 0.3rem;
  height: 0.3rem;
  opacity: 0;
}
#index .shop_items .shop_item span:nth-of-type(1):before{
  top: 0;
  left: -10%;
  width: 120%;
}
#index .shop_items .shop_item span:nth-of-type(1):after{
  top: -10%;
  left: 0;
  height: 120%;
}
#index .shop_items .shop_item span:nth-of-type(2):before{
  bottom: 0;
  right: -10%;
  width: 120%;
}
#index .shop_items .shop_item span:nth-of-type(2):after{
  bottom: -10%;
  right: 0;
  height: 120%;
}

#index .shop_items .shop_item:hover span:nth-of-type(1):before,
#index .shop_items .shop_item:hover span:nth-of-type(1):after,
#index .shop_items .shop_item:hover span:nth-of-type(2):before,
#index .shop_items .shop_item:hover span:nth-of-type(2):after{
  opacity: 1;
}

/* news_sec */
#index .news_sec{
  padding: 15rem 0;
}

#index .news_sec .container_wrap{
  display: flex;
  align-items: center;
}

#index .news_sec .news,
#index .news_sec .event{
  width: 50%;
}

#index .news_sec .news{
  padding-right: 5rem;
}

#index .news_sec .event{
  padding-left: 5rem;
}

#index .news_sec .title_wrap{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5rem;
}

#index .news_sec .title_wrap p{
  font-size: 1.6rem;
  color: #666;
}

#index .news_sec .container_wrap .board_list .news_item,
#index .news_sec .container_wrap .board_list .event_item{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.2rem 0;
  height: 7.5rem;
  border-top: 1px solid #f1f1f1;
}
#index .news_sec .container_wrap .board_list .news_item{
  justify-content: space-between;
}
#index .news_sec .container_wrap .board_list .event_item{
  flex-direction: column;
  text-align: left;
}
#index .news_sec .event_title{
  width: 100%;
}
#index .news_sec .event_desc{
  display: flex;
  width: 100%;
  font-size: 1.4rem;
}
#index .news_sec .event_desc p:first-child{
  color: var(--color-primary);
  margin-right: 1.5rem;
}

#index .news_sec .container_wrap .board_item .board_date{
  font-size: 1.4rem;
  color: #666;
}

@media (max-width:1400px){
  #index .visuals ul li .visual_desc{
    padding-left: 3rem;
  }
  #index .display_sec .dp_title{
    text-align: center;
    margin: 5rem auto;
  }
  #index .swiper02 .swiper-button-next,
  #index .swiper02 .swiper-button-prev,
  #index .swiper02 .swiper-pagination-progressbar{
    display: none;
  }

  #index .swiper02 {
    max-width: 90%;
  }

  #index .collection_sec .col_container{
    /* max-height: 70rem; */
    margin: 5rem auto 12rem;
  }
  #index .collection_sec .col_slide .slide{
    display: none;
  }
  #index .collection_sec .slide:nth-of-type(4){
    transform:translate(-50%,-50%) translateZ(5rem);
    display: block;

  }
  #index .collection_sec .slide:nth-of-type(4) .overlay{
    z-index: -1;
  }
  #index .collection_sec .slide:nth-of-type(4) .col_item_title{
    opacity: 1;
  }
  #index .collection_sec .col_buttons .prev{left: 10%;}
  #index .collection_sec .col_buttons .next{right: 10%;}

  #index .news_sec .news{
    padding-left: 5rem;
  }

  #index .news_sec .event{
    padding-right: 5rem;
  }
}

@media (max-width:1200px){
  #index .operating_sec{
    padding: 5rem 0 0;
  }
  #index .display_sec,
  #index .collection_sec,
  #index .shop_sec,
  #index .news_sec{
    padding: 10rem 0;
  }
/* 
  #index .visuals ul li img{
    max-height: 64rem;
  } */

  #index .operate_box{
    width: 100%;
    margin: 5% 0;
    max-width: 16rem;
    /* min-width: 16rem; */
    height: 15rem;
  }
  #index .operate_title .location{
    font-size: 1.8rem;
  }
  #index .swiper02 {
    margin: 5rem auto 10rem;
  }

  #index h1{
    font-size: 3.6rem;
    font-weight: 800;
    word-break: keep-all;
  }
  #index h2{
    font-size: 2.8rem;
    font-weight: 600;
  }
  #index h3{
    font-size: 1.6rem;
    font-weight: 600;
  }
  #index .visuals ul li .visual_desc span{
    width: 12rem;
    transform: translateY(-0.5rem);
  }
  #index .indicator a{
    width: 6rem;
    height: 0.6rem;
    margin: 1rem;
  }
  #index .indicator a.active{
    width: 10rem;
  }
  
  #index .shop_items{
    margin: 7rem auto 0;
    grid-template-columns: repeat(3, 1fr)
  }
  #index .shop_items .shop_item:nth-child(7),
  #index .shop_items .shop_item:nth-child(8){
    display: none;
  }
  
  #index .news_sec .container_wrap{
    flex-direction: column;
  }
  #index .news_sec .news,
  #index .news_sec .event{
    margin: 5rem 0rem;
    padding: 0 5rem;
    width: 100%;
    max-width: 100rem;
  }
}

@media (max-width:1024px) {
  #index .visuals ul li .visual_desc{
    text-align: center;
    transform: translate(-50%,-80%);
    margin-left: 0;
  }
  #index .visuals ul li .visual_desc span{
    width: 1rem;
  }
}
@media (max-width:768px) {
  #index .operating_sec{
    padding: 5rem 0 0;
  }
  #index .display_sec{padding: 0;}
  #index .collection_sec,
  #index .shop_sec,
  #index .news_sec{
    padding: 8rem 0;
  }
  #index .swiper02 {
    margin: 5rem auto 8rem;
    width: 80%;
  }
  #index .swiper02 .swiper-slide{
    width: 100%;
  } 
  #index h1{
    font-size: 2.8rem;
    font-weight: 800;
    word-break: keep-all;
  }
  #index h2{
    font-size: 2.4rem;
    font-weight: 600;
  }
  #index h3{
    font-size: 1.8rem;
    font-weight: 600;
  }
  #index .collection_sec .col_container{
    width: 100%;
  }
  #index .collection_sec .slide:nth-of-type(4){
    width: 100%;
  }
  #index .collection_sec .slide:nth-of-type(4) img{
    width: 80%;
    padding: 0;
  }
  #index .collection_sec .col_item_title{
    word-break: keep-all;
  }

  #index .collection_sec .col_buttons{
    display: none;
  }
  #index .collection_sec .col_item_title{
    font-size: 1.8rem;
  }
  #index .collection_sec .col_item_title span{
    font-size: 1.4rem;
  }

  #index .shop_items{
    width: 90%;
  }
  #index .shop_items .shop_item{
    width: 15rem;
    height: 15rem;
  }

  #index .news_item{
    display: flex;
    flex-direction: column;
    text-align: left;
  }
  #index .news_item p{
    display:inline-block;
    width: 100%;
    word-break: keep-all;
  }
}


@media (max-width:540px){

  #index .indicator a{
    width: 2rem;
    height: 0.4rem;
    margin: 1rem;
  }
  #index .indicator a.active{
    width: 5rem;
  }
  #index .collection_sec .col_container{
    height: 50rem;
    margin: 0rem auto 5rem;
  }

  #index .collection_sec .slide:nth-of-type(4){
    margin: 0;
    padding: 0;
  }
  #index .collection_sec .slide:nth-of-type(4) .overlay{
    display: none;
  }
  #index .shop_items{
    margin: 7rem auto 0;
    grid-template-columns: repeat(2, 1fr)
  }
  #index .shop_items .shop_item{
    width: 12rem;
    height: 12rem;
  }
  #index .shop_items .shop_item .item_title{
    word-break: keep-all;
  }
}

