

/* PC: 1200px 이상 */
@media screen and (min-width: 1200px) {
  .desk_header { display: flex; }
  .tab_header { display: none; }
}

/* 태블릿 & 모바일: 1199px 이하 */
@media screen and (max-width: 1199px) {
  .desk_header { display: none; }
  .tab_header { display: flex;}
  .menu_all {
    width: 50%;
  }
}
/* 모바일 사이즈 */
@media screen and (max-width: 767px) {
  .menu_all {
    width: 100vw;
    height: 100vh;
    position: fixed; /* 스크롤과 무관하게 고정 */
    background-color: #fff;
    z-index: 9999;
    padding: 2rem;
    box-shadow: none;
  }
}