
/* bg_sec */

#reservation .bg_sec .bg_wrap{
  width: 100%;
  height: 65rem;
}

#reservation .bg_sec .bg_wrap img{
  width: 100%;
  height: 65rem;
  object-fit: cover;
}

#reservation .bg_wrap .bg_text{
  position: absolute;
  left: 10%;
  top: 35%;
  color: #fff;
}

#reservation .bg_wrap .bg_text h2{
  font-size: 4.2rem;
  margin-bottom: 3rem;
  text-shadow: 0 0 2px rgba(0,0,0,0.5);
}

#reservation .bg_wrap .bg_text p{
  font-size: 2rem;
  text-shadow: 0 0 2px rgba(0,0,0,0.5);
}



/* Media Query */

@media (max-width:768px){
  

}
