@charset "utf-8"; 

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
	font-family: "NanumSquareAc", sans-serif;
	overflow-x: hidden;
	overflow-y: scroll;
}
li {
	list-style: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a{
	text-decoration:none; 
	color:inherit;  
}  
img{
	width: 100%;
	vertical-align: top;
}

