
/* bg_sec */

#reservation .bg_sec .bg_wrap{
  width: 100%;
  height: 65rem;
}

#reservation .bg_sec .bg_wrap img{
  position: relative;
  width: 100%;
  height: 65rem;
  object-fit: cover;
}

#reservation .bg_wrap .bg_text{
  position: absolute;
  left: 10%;
  top: 35%;
  color: #fff;
}

#reservation .bg_wrap .bg_text h2{
  font-size: 4.2rem;
  margin-bottom: 3rem;
  text-shadow: 0 0 2px rgba(0,0,0,0.5);
}

#reservation .bg_wrap .bg_text p{
  font-size: 2rem;
  text-shadow: 0 0 2px rgba(0,0,0,0.5);
}

/* seoul_sec */

#reservation section{margin: auto;}

#reservation .menubar{
  width: 100%;
  min-width: 80%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 10rem 20rem 10rem;
}

#reservation .menubar a:nth-of-type(1){
  font-size: 3rem;
  font-weight: 600;
}

#reservation .menubar a:nth-of-type(2){
  font-size: 2rem;
  font-weight: 400;
}

#reservation .reser_wrap{
  width: 100%;
  display: flex;
}

#reservation .reserbox{
  display: flex;
  margin: auto;
}

#reservation .reserimg{
  width: 100%;
  display: block;
  object-fit: cover;
}

#reservation .reserimg img{
  width: 35rem;
  min-width: 30rem;
  height: 30rem;
}

#reservation .resertext{
  width: 100%;
  min-width: 35rem;
  display: block;
}

#reservation .resertext .reser_title tr th{
  font-size: 2.4rem;
  font-weight: 700;
  text-align: center;
  margin: 0 auto 3rem;
}

#reservation .resertext table{
  margin: auto;
}

#reservation .resertext tr{
  display: flex;
  justify-content: space-between;
  text-align: right;
}

#reservation .resertext tr .tit{
  margin-right: 10rem;
  font-weight: 800;
  color: #333;
  white-space: nowrap;
}

#reservation .resertext tr td{
  margin: 0.7rem 0;
  font-size: 1.6rem;
  color: #333;
  white-space: nowrap;
}

#reservation .btn{
  text-align: center;
  display: none;
}

#reservation .btn a{
  border: 1px solid #000;
  text-align: center;
  padding: 0.5rem 1rem;
}

#reservation .deoksu_sec .reserbox:nth-of-type(2){
  opacity: 0;
}

/* Media Query */

@media (max-width:768px){
  #reservation .reser_wrap .reserbox:nth-of-type(2){display: none;}

  #reservation .reser_wrap{
    padding: 0;
  }

  #reservation .menubar{
    padding: 5rem 10rem 5rem;
  }

  #reservation .menubar a:nth-of-type(1){
    font-size: 2rem;
  }

  #reservation .menubar a:nth-of-type(2){
    font-size: 1.6rem;
  }

  #reservation .reserbox {
    margin: auto;
  }

  #reservation .reserimg img{
  width: 35rem;
  height: 30rem;
  }

  #reservation .resertext .reser_title tr th{
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 3rem;
  }

#reservation .resertext tr .tit{
  margin-right: 5rem;
  }

#reservation .resertext tr td{
  margin: 0.7rem 0;
  font-size: 1.4rem;
  color: #333;
  line-height: 3.5rem;
  }

  #reservation .btn{
    margin-top: 2rem;
    display: block;
  }
}

@media (min-width:320px){

  #reservation .bg_wrap .bg_text{
    margin: auto;
  }

  #reservation .bg_wrap .bg_text h2{
  font-size: 3.6rem;
  }

  #reservation .bg_wrap .bg_text p{
  font-size: 1.6rem;
  }
  
  #reservation .reser_wrap{
    padding: 0;
  }

  #reservation .menubar{
    padding: 5rem 5rem 3rem;
  }

  #reservation .menubar a:nth-of-type(1){
    font-size: 1.6rem;
  }

  #reservation .menubar a:nth-of-type(2){
    font-size: 1.2rem;
  }

  #reservation .reserbox{
  flex-direction: column;
  margin: auto;
  }

  #reservation .reserimg img{
  width: 40rem;
  height: 35rem;
  }

  #reservation .resertext{
    height: 30rem;
  }
  #reservation .resertext .reser_title tr th{
  font-size: 1.8rem;
  font-weight: 700;
  margin: 3rem auto 1rem;
}

#reservation .resertext tr .tit{
  margin-right: 8rem;
  margin-bottom: 2rem;
  }

#reservation .resertext tr td{
  margin: 0.1rem 0;
  font-size: 1.2rem;
  color: #333;
  }
}


