@import url(style.css);

/* Main Start */
#seoul .main_img img{
  width: 100%;
  height: 80rem;
  position: relative;
}
#seoul .main_text h2{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: var(--color-white);
  text-align: center;
  line-height: 6rem;
  font-size: 3.6rem;
}
#seoul .main_time{
  position: absolute;
  bottom: 12rem;
  width: 100%;
  height: 10rem;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  background-color: rgba(212, 212, 212, 0.4);
}
#seoul .time_name p, .time_day p{
  font-size: 2rem;
  font-weight: 600;
  color: var(--color-gray-300);
}
#seoul .time_name p{margin-right: 3rem;}

/* 전시관 이동 메뉴 */
#seoul .locate_menu{
  width: 100%;
  height: 3rem;
  margin: 5rem auto 0;
  text-align: center;
}
#seoul .locate_menu a{
  font-size: 2.4rem;
  color: var(--gray-300);
  font-weight: 500;
  margin: 0 5rem;
}

#seoul .locate_menu a:hover{
  color: var(--color-primary);
}


/* 공통 섹션 */
#seoul section{
  width: 100%;
  height: 80rem;
  /* border: 1px solid #000; */
}

#seoul .btn{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 10rem auto 15rem;
  padding: 0 20rem;
}
#seoul .btn a:nth-of-type(1){
  font-size: 3.6rem;
  font-weight: 600;
}
#seoul .btn a:nth-of-type(2){
  font-size: 2rem;
  font-weight: 400;
}

/* 1 */
#seoul .exhibit_img{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

#seoul .exhibit_img img{
  width: 43rem;
  height: 43rem;
  margin: 0 5rem;

}

/* 2 */
#seoul .education_img{
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
}
#seoul .education_img img{
  width: 30rem;
  height: 30rem;
  margin: 0 10rem;
}
/* 3 */
#seoul .watching_img{
  display: flex;
  justify-content: center;
  text-align: center;
  object-fit: cover;
}
#seoul .watching_img img{
  width: 80%;
  height: 80rem;
  margin: auto;
}
/* 4 */
.container{
  width: 1400px;
  height: 1000px;
  display: flex;
  margin: 180px auto 0;
}
.accordion{
  width: 300px;
  margin-left: 80px;
  margin-right: 30px;
}
.map{
  margin-top: 30px;
  margin-left: 50px;
  width: 900px;
  height: 700px;
}
.map iframe{
  width: 900px;
  height: 700px;
}
.title{
  width: 300px;
  height: 65px;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
  padding-left: 15px;
  transition: 0.3s;
  padding-top: 25px;
  font-size: 19px;
}
.title:after{
  content: '\f105';
  font-family: fontawesome;
  float: right;
  margin-right: 5px;
  transition: 0.3s;
}
.title.active:after{
  transform: rotate(90deg);
  color: #3a3a3a;
}
.title:hover,
.title.active{
  color: #3a3a3a;
}
.desc{
  width: 300px;
  padding: 15px;
  display: none;
  background-color: #fcfcfc;
}
.desc p{
  font-size:15px;
  color: #444;
  margin-top: 15px;
  margin-bottom: 10px;
}
.desc.active{
  height: 180px;
  display: block;
}







/* 5 */
/* Footer */