@import url(style.css);

/* Main Start */
#seoul .main_img img{
  width: 100%;
  height: 80rem;
  position: relative;
}
#seoul .main_text h2{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: var(--color-white);
  text-align: center;
  line-height: 6rem;
  font-size: 3.6rem;
}
#seoul .main_time{
  position: absolute;
  bottom: 12rem;
  width: 100%;
  height: 10rem;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  background-color: rgba(212, 212, 212, 0.4);
}
#seoul .time_name p, .time_day p{
  font-size: 2rem;
  font-weight: 600;
  color: var(--color-gray-300);
}
#seoul .time_name p{margin-right: 3rem;}

/* 전시관 이동 메뉴 */
#seoul .locate_menu{
  width: 100%;
  height: 3rem;
  margin: 5rem auto 0;
  text-align: center;
}
#seoul .locate_menu a{
  font-size: 2.4rem;
  color: var(--gray-300);
  font-weight: 500;
  margin: 0 5rem;
}

#seoul .locate_menu a:hover{
  color: var(--color-primary);
}


/* 공통 섹션 */
#seoul section{
  width: 100%;
  height: 80rem;
  /* border: 1px solid #000; */
}

#seoul .btn{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 10rem auto 15rem;
  padding: 0 20rem;
}
#seoul .btn a:nth-of-type(1){
  font-size: 3.6rem;
  font-weight: 600;
}
#seoul .btn a:nth-of-type(2){
  font-size: 2rem;
  font-weight: 400;
}

/* 1 */
#seoul .exhibit_img{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

#seoul .exhibit_img img{
  width: 43rem;
  height: 43rem;
  margin: 0 5rem;

}

/* 2 */
#seoul .education_img{
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
}
#seoul .education_img img{
  width: 30rem;
  height: 30rem;
  margin: 0 10rem;
}
/* 3 */
#seoul .watching_img{
  display: flex;
  justify-content: center;
  text-align: center;
  object-fit: cover;
}
#seoul .watching_img img{
  width: 80%;
  height: 80rem;
  margin: auto;
}
/* 4 */
#tabmenu{
  width:960px;
  height:500px;
  margin:30px auto;
  padding:30px;
  position: relative;
  display: flex;
}
.tab-header{
  width:200px;
  position:relative;
}
.tab li{
  width:160px; 
  height:70px; /*->jQuery에서 탭메뉴 움직이는 거리*/
  box-sizing:border-box;
  float:left;
  border-bottom:1px solid #ccc;
  color:#333;
  font-size:17px;
  line-height:70px;
  text-align:center;
  letter-spacing:1px; 
  position:relative;
  z-index:100;  
}
.tab li:last-of-type{border-bottom:1px solid #ccc;}
.tab li.active{color:#fff;} /*1번째 선택된 글자색 */
.tab-highlight{  /*현재 선택된 탭메뉴->옆으로 이동하는 박스*/
  background:#ffffff; 
  width: 160px;
  height:70px; 
  position:absolute;
  width:160px;
  left:0px;
  color: #333;
}

/*Tab Mneu Contents ---------------------------------------*/
.tab-contents div{
  border: 1px solid #000;
  width:80rem;
  height:60rem;
  padding:20px;
  display:none;   
}
.tab-contents div img{
  width: 80rem;
  height: 60rem;
  border: 1px solid #000;
  object-fit: cover;
}
.tab-contents div.active{display:block}



/* 5 */
#seoul .map_img{
  width: 100%;
  position: relative;
}

#seoul .map_img iframe{
  position: absolute;
  width: 100%;
  height: 60rem;
  padding: 0 20rem;
  
}





/* Footer */