
/* 태블릿 */
@media (max-width: 1199px) {

  #shop .collection .box:nth-of-type(3){display: none;}
  #shop .publication .box:nth-of-type(3){display: none;}
  
  #shop .fade ul li{
    height: 65rem;
    object-fit: cover;
  }

  /* collection */
  #shop .collection{
    column-gap: 15rem;
  }
  #shop .collection .box{
    width: 30rem;
    height: 36rem;
  }
  #shop .collection .text h3{
    font-size: 1.6rem;
    margin-top: 2rem;
  }
  #shop .collection .text p{
    font-size: 1.2rem;
    margin: 0;
  }
  
  /* publication */
  #shop .publication{
    column-gap: 15rem;
  }
  #shop .publication .box{
    width: 30rem;
    height: 36rem;
  }
  #shop .publication .text{
    margin-top: 50rem;
  }
  #shop .publication .text h3{
    font-size: 1.6rem;
  }
  #shop .publication .text p{
    font-size: 1.2rem;
    margin: 0;
  }

  /* Edition */
  #shop .edition{flex-direction: column;}

  #shop .edition{
    column-gap: 10rem;
  }
  #shop .edition .edt_left{
    order: 1;
  }
  #shop .edition .edt_right{
    margin-right: 10rem;
    order: 0;
  }
  #shop .edition .edt_right img{
    width: 50rem;
    height: 30rem;
    margin-left: 10rem;
  }
  #shop .edition .edt_text{
    text-align: center;
  }
  #shop .edition .edt_text h3{
    margin-top: 5rem;
    font-size: 2.8rem;
  }
  #shop .edition .edt_btn{
    margin: 3rem auto 0;
  }
  /* story */
  #shop .story{flex-direction: column;}
  #shop .story{
    column-gap: 10rem;
  }
  #shop .story .str_left{
    margin-left: 10rem;
  }
  #shop .story .str_left img{
    width: 50rem;
    height: 30rem;
  }
  #shop .story .str_right{
    margin-right: 10rem;
    margin-bottom: 40rem;
  }
  #shop .story .str_text{
    text-align: center;
  }
  #shop .story .str_text h3{
    font-size: 2.8rem;
    margin-top: 5rem;
  }
  #shop .story .str_btn{
    margin: 3rem auto 0;
  }

}

/* 모바일 사이즈 */
@media (min-width: 320px) and (max-width: 767px) {

  #shop .collection .box:nth-of-type(2){display: none;}
  #shop .publication .box:nth-of-type(2){display: none;}
  #shop .collection .box:nth-of-type(3){display: none;}
  #shop .publication .box:nth-of-type(3){display: none;}
  
#shop .fade ul li img {
  width: 100%;
  height: 65rem;
  object-fit: cover;
  display: block;
  }
  #shop .btn{
    width: 20rem;
    margin: 10rem auto 0;
    justify-content: center;
    position: relative;
  }
  #shop .btn a{
    position: absolute;
  }

  
  /* collection */
  #shop .collection{
    column-gap: 15rem;
  }
  #shop .collection .box{
    width: 30rem;
    height: 36rem;
  }
  #shop .collection .text h3{
    font-size: 1.6rem;
    margin-top: 2rem;
  }
  #shop .collection .text p{
    font-size: 1.2rem;
    margin: 0;
  }
  
  /* publication */
  #shop .publication{
    column-gap: 15rem;
  }
  #shop .publication .box{
    width: 30rem;
    height: 36rem;
  }
  #shop .publication .text{
    margin-top: 50rem;
  }
  #shop .publication .text h3{
    font-size: 1.6rem;
  }
  #shop .publication .text p{
    font-size: 1.2rem;
    margin: 0;
  }

  /* Edition */
  #shop .edition{flex-direction: column;}
  #shop .edition .edt_left{
    margin-top: 3rem;
    order: 1;
    text-align: center;
  }
  #shop .edition .edt_right img{
    order: 0;
    margin-left: 5rem;
    height: 50rem;
  }
  #shop .edition .edt_text h3{
    font-size: 2.2rem;
  }
  #shop .edition .edt_btn{
    margin: 3rem auto 0;
  }

  /* story */
  #shop .story{flex-direction: column;}
  #shop .story .str_right{
    margin-top: 3rem;
    margin-left: 10rem;
    text-align: center;
  }
  #shop .story .str_left img{
    width: 40rem;
    margin-right: 50rem;
    height: 50rem;
  }
  #shop .story .str_text h3{
    font-size: 2.2rem;
  }
  #shop .story .str_btn{
    margin: 3rem auto 0;
  }

}